---
layout: homepage
---

<body>
  <div uk-height-expand>
    <div>
      {% include header.html %}
      <div class="uk-section uk-section-small">
        <div class="intro-text uk-container">
          <h2 class="uk-heading-large">Resonant <br>Center</h2>
          <p>Resonant Center was established with the intention of sharing information with the power to heal and manifest awareness. We are a community of compassionate warriors with a fierce belief in the collective and universal mind.</p>
        </div>
      </div>
      <div class="uk-section uk-section-small">
        <div class="intro-text uk-container">
          <div class="uk-child-width-1-2@m" uk-grid>
            <div class="uk-heading-medium uk-animation-slide-right-small uk-flex uk-flex-middle">UI/UX, <br>Design,<br>Animation</div>
            <div><img class="uk-width-1-1" src="{{ "/assets/img/ih-portfolio-items-54.jpg" | relative_url }}" width="1000" height="571"></div>
          </div>
        </div>
          {% include sections/featured.html %}
      </div>
    </div>
  </div>

  {% include sections/collaborate.html %}

</body>
